## Surburb Analysis -- Hope For Definition Through Satellite Imaging
### By: Eric Englin

This analysis was sparked by multiple CityLab and Fivethirtyeight articles written from 2016 to 2019. Some of these include:
- [How Should We Define the Suburbs?](https://www.citylab.com/life/2019/06/suburbs-definition-census-data-way-of-life/591343/) (Richard Florida)

- [The Persistent Economic Advantage of America’s Suburbs](https://www.citylab.com/life/2019/03/cities-economic-performance-data-suburbs-urban-research/584284/) (Richard Florida)

- [Urban and Suburban Lifestyles Are More Similar Than You’d Think](https://www.citylab.com/life/2019/10/american-time-use-survey-happiness-urban-data-cities-suburbs/600997/) (Richard Florida)

- [Suburbs Are Urban Places, Too](https://www.citylab.com/design/2016/01/suburbs-are-urban-places-too/421971/) (Laura Vaughan)

- [How Suburban Are Big American Cities?](https://fivethirtyeight.com/features/how-suburban-are-big-american-cities/) (Jed Kolko)

- [America Really Is a Nation of Suburbs](https://www.citylab.com/life/2018/11/data-most-american-neighborhoods-suburban/575602/) (Shawn Bucholtz, Jed Kolko)

Also other books have long written about suburban sprawl, the impact on American life, and how these movements can cause systemic wealth generation and loss. These include:

- Bowling Alone: The Collapse and Revival of American Community (Robert D. Putnam)
- Suburban Nation (Andrés Duany)
- The Color of Law (Richard Rothstein)

In [11]:
import pandas as pd
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
import time
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
import requests
from bs4 import BeautifulSoup

In [2]:
ahs_df = pd.read_csv('./data/ahs2017m.csv')

In [3]:
ahs_df.head()

,CONTROL,TOTROOMS,PERPOVLVL,COMTYPE,COMCOST,JACPRIMARY,JACSECNDRY,JADEQUACY,JBATHEXCLU,JBATHROOMS,...,JOBDIY28,JOBFUNDS26,JOBFUNDS27,JOBFUNDS28,JOBTYPE26,JOBTYPE27,JOBTYPE28,JOBWORKYR26,JOBWORKYR27,JOBWORKYR28
0,'21030112',7,501,'1',16692,'0','0','1','0','0',...,'-9','-9','-9','-9','-9','-9','-9','-9','-9','-9'
1,'21030114',7,501,'-6',-6,'0','0','2','0','0',...,'-9','-9','-9','-9','-9','-9','-9','-9','-9','-9'
2,'21030115',5,-6,'-6',-6,'0','0','2','0','0',...,'-9','-9','-9','-9','-9','-9','-9','-9','-9','-9'
3,'21030116',4,501,'1',-9,'0','0','1','0','0',...,'-9','-9','-9','-9','-9','-9','-9','-9','-9','-9'
4,'21030117',4,-6,'-6',-6,'0','0','2','0','0',...,'-9','-9','-9','-9','-9','-9','-9','-9','-9','-9'

In [4]:
ahs_df.shape

(23084, 3179)